// Colors
$color-default: #203A45;
$color-primary: #9D67AC;
$color-success: #41D492;
$color-info: #5C59ED;
$color-warning: #F2B51D;
$color-danger: #F26666;

$color-twitter: #00aced;
$color-facebook: #3b5998;
$color-googleplus: #dd4b39;
$color-pinterest: #cb2027;
$color-linkedin: #007bb6;
$color-github: #4078c0;
