/***********************************************
* Backgrounds
***********************************************/
.background-default {
	background: $color-default;
}

.background-primary {
	background: $color-primary;
}

.background-success {
	background: $color-success;
}

.background-info {
	background: $color-info;
}

.background-warning {
	background: $color-warning;
}

.background-danger {
	background: $color-danger;
}

.background-white {
	background: #fff;
}