/***********************************************
* Images
***********************************************/

.thumb-lg {
	max-width: 96px;
	max-height: 96px;
}

.thumb-md {
	max-width: 64px;
	max-height: 64px;
}

.thumb-sm {
	max-width: 48px;
	max-height: 48px;
}

.img-circle {
  border-radius: 50%;
}
